.hljs-comment,
.hljs-quote {
    @include text-info;
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    @include text-primary;
    font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    @include text-secondary;
}

.hljs-string,
.hljs-doctag {
    @include text-secondary;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
    @include text-primary;
    font-weight: bold;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
    @include text-warning;
    font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
    @include text-secondary;
    font-weight: normal;
}

.hljs-regexp,
.hljs-link {
    @include text-primary;
}

.hljs-symbol,
.hljs-bullet {
    @include text-warning;
}

.hljs-built_in,
.hljs-builtin-name {
    @include text-success;
}

.hljs-meta {
    @include text-info;
    font-weight: bold;
}

.hljs-deletion {
    @include bg-danger;
}

.hljs-addition {
    @include bg-success;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}