/*
This file contains some basic sane semantic styles, to make core HTML
elements and a few semantic utility classes play nice with the rest
of the built-in theming/coloring
*/

body {
    @include font-size-md;
    line-height: $line-height;
}

body,
body.colors-light {
    color: $text-normal;
    background-color: $bg-normal;
}

body.colors-dark {
    color: $text-dark-normal;
    background-color: $bg-dark-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $line-height-tight;
}

h1 {
    @include font-size-h1;
}

h2 {
    @include font-size-h2;
}

h3 {
    @include font-size-h3;
}

h4 {
    @include font-size-h4;
}

h5 {
    @include font-size-h5;
}

h6 {
    @include font-size-h6;
}

embed,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
section,
table,
tfoot,
ul,
video {
    @include margin-y;
}

ul,
ol {
    padding: 0;
    @include padding-l;

    ul,
    ol {
        margin: 0;

        li {
            margin: 0;
        }
    }
}

li {
    margin: 0;
    padding: 0;
    @include margin-y-sm;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &::marker {
        @include text-normal;
    }
}

address,
aside,
blockquote,
fieldset,
figure,
pre {
    @include margin-y;
    @include padding;
    @include bg-accent;
}

address {
    @include padding-sm;
}

dl {
    @include margin-y;
    @include padding-sm;
    @include bg-accent;
}

dt {
    @include text-accent;
    @include font-size-lg;
    font-weight: bold;
}

dd {
    margin: 0;
    @include padding-l;
    @include padding-b;

    &:last-child {
        padding-bottom: 0;
    }
}

aside {
    @include font-size-sm;
    line-height: $line-height;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:first-child {
            margin-top: 0;
        }
    }
}

code {
    @include bg-accent;
    padding: 0.2em;
    display: inline-block;
    line-height: $line-height-tight;
}

pre>code {
    display: block;
    overflow: auto;
    padding: 0;
    line-height: $line-height-loose;
}

small {
    @include font-size-smaller;
}

b,
i,
em,
strong {
    @include text-accent;
}