/*
Classes to control color scheme
*/

.colors-light {
    color: $text-normal;
    background-color: $bg-normal;
}

.colors-dark {
    color: $text-dark-normal;
    background-color: $bg-dark-normal;
}


/*
Foreground colors only, light mode
*/

.text-normal {
    @include text-normal;
}

.text-accent {
    @include text-accent;
}

.text-primary {
    @include text-primary;
}

.text-secondary {
    @include text-secondary;
}

.text-success {
    @include text-success;
}

.text-danger {
    @include text-danger;
}

.text-warning {
    @include text-warning;
}

.text-info {
    @include text-info;
}

.text-muted {
    @include text-muted;
}


/*
Background colors (also sets a sane default fg)
*/

.bg-normal {
    @include bg-normal;
}

.bg-accent {
    @include bg-accent;
}

.bg-primary {
    @include bg-primary;
}

.bg-secondary {
    @include bg-secondary;
}

.bg-success {
    @include bg-success;
}

.bg-danger {
    @include bg-danger;
}

.bg-warning {
    @include bg-warning;
}

.bg-info {
    @include bg-info;
}

.bg-muted {
    @include bg-muted;
}

/*
Overlay colors/opacity
*/

.bg-overlay {
    @include bg-overlay;
}

.bg-overlay-muted {
    @include bg-overlay-muted;
}