@function high-contrast-fg-color($color) {
    @if (lightness($color) > 50) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}

@mixin high-contrast-fg($bg) {
    color: high-contrast-fg-color($bg);
}

@mixin uncolored-links {
    a {
        color: inherit !important;
        font-weight: bold;
        opacity: 0.8;

        &:hover,
        &:active {
            opacity: 1;
        }
    }
}

/*
Foreground colors only, light mode
*/

@mixin text-normal {
    color: $text-normal;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $text-normal;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $text-dark-normal
    }
}

@mixin text-accent {
    color: $text-accent;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $text-accent;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $text-dark-accent
    }
}

@mixin text-primary {
    color: $text-primary;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $text-primary;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $text-dark-primary
    }
}

@mixin text-secondary {
    color: $text-secondary;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $text-secondary;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $text-dark-secondary
    }
}

@mixin text-success {
    color: $text-success;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $text-success;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $text-dark-success
    }
}

@mixin text-danger {
    color: $text-danger;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $text-danger;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $text-dark-danger
    }
}

@mixin text-warning {
    color: $text-warning;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $text-warning;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $text-dark-warning
    }
}

@mixin text-info {
    color: $text-info;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $text-info;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $text-dark-info
    }
}

@mixin text-muted {
    color: $text-muted;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $text-muted;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $text-dark-muted
    }
}


/**
Background colors (also sets a sane default fg
*/

@mixin bg-normal {
    background-color: $bg-normal;
    color: $text-normal;

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-normal;
        color: $text-normal;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-dark-normal;
        color: $text-dark-normal;
    }
}

@mixin bg-accent {
    background-color: $bg-accent;
    color: $text-accent;

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-accent;
        color: $text-accent;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-dark-accent;
        color: $text-dark-accent;
    }
}

@mixin bg-primary {
    background-color: $bg-primary;
    @include high-contrast-fg($bg-primary);

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-primary;
        @include high-contrast-fg($bg-primary);
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-dark-primary;
        @include high-contrast-fg($bg-dark-primary);
    }

    @include uncolored-links;
}

@mixin bg-secondary {
    background-color: $bg-secondary;
    @include high-contrast-fg($bg-secondary);

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-secondary;
        @include high-contrast-fg($bg-secondary);
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-dark-secondary;
        @include high-contrast-fg($bg-dark-secondary);
    }

    @include uncolored-links;
}

@mixin bg-success {
    background-color: $bg-success;
    @include high-contrast-fg($bg-success);

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-success;
        @include high-contrast-fg($bg-success);
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-dark-success;
        @include high-contrast-fg($bg-dark-success);
    }

    @include uncolored-links;
}

@mixin bg-danger {
    background-color: $bg-danger;
    @include high-contrast-fg($bg-danger);

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-danger;
        @include high-contrast-fg($bg-danger);
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-dark-danger;
        @include high-contrast-fg($bg-dark-danger);
    }

    @include uncolored-links;
}

@mixin bg-warning {
    background-color: $bg-warning;
    @include high-contrast-fg($bg-warning);

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-warning;
        @include high-contrast-fg($bg-warning);
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-dark-warning;
        @include high-contrast-fg($bg-dark-warning);
    }

    @include uncolored-links;
}

@mixin bg-info {
    background-color: $bg-info;
    @include high-contrast-fg($bg-info);

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-info;
        @include high-contrast-fg($bg-info);
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-dark-info;
        @include high-contrast-fg($bg-dark-info);
    }

    @include uncolored-links;
}

@mixin bg-muted {
    background-color: $bg-muted;
    color: $text-muted;

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-muted;
        color: $text-muted;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-dark-muted;
        color: $text-dark-muted;
    }
}

/*
overlay colors/opacity
*/

@mixin bg-overlay {
    background-color: $bg-overlay;
    background-color: rgba($bg-overlay, $bg-overlay-opacity);

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-overlay-light;
        background-color: rgba($bg-overlay-light, $bg-overlay-opacity);
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-overlay-dark;
        background-color: rgba($bg-overlay-dark, $bg-overlay-opacity);
    }
}

@mixin bg-overlay-muted {
    background-color: $bg-overlay;
    background-color: rgba($bg-overlay, $bg-overlay-opacity-muted);

    .colors-light &,
    .colors-dark .colors-light & {
        background-color: $bg-overlay;
        background-color: rgba($bg-overlay, $bg-overlay-opacity-muted);
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        background-color: $bg-overlay-dark;
        background-color: rgba($bg-overlay-dark, $bg-overlay-opacity-muted);
    }
}

/*
link colors
*/

@mixin a-link {
    color: $color-a;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $color-a;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $color-dark-a;
    }
}

@mixin a-visited {
    color: $color-a-visited;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $color-a-visited;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $color-dark-a-visited;
    }
}

@mixin a-focus {
    color: $color-a-focus;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $color-a-focus;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $color-dark-a-focus;
    }
}

@mixin a-hover {
    color: $color-a-hover;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $color-a-hover;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $color-dark-a-hover;
    }
}

@mixin a-active {
    color: $color-a-active;

    .colors-light &,
    .colors-dark .colors-light & {
        color: $color-a-active;
    }

    .colors-dark &,
    .colors-light .colors-dark & {
        color: $color-dark-a-active;
    }
}