/*
margin/padding
*/

@mixin margin-l {
    margin-left: $margin;
}

@mixin margin-r {
    margin-right: $margin;
}

@mixin margin-t {
    margin-top: $margin;
}

@mixin margin-b {
    margin-bottom: $margin;
}

@mixin margin-x {
    @include margin-l;
    @include margin-r;
}

@mixin margin-y {
    @include margin-t;
    @include margin-b;
}

@mixin margin {
    @include margin-x;
    @include margin-y;
}

@mixin margin-block {
    @include margin-y;
    &:first-child {
        margin-top:0;
    }
    &:last-child {
        margin-bottom:0;
    }
}

@mixin padding-l {
    padding-left: $padding;
}

@mixin padding-r {
    padding-right: $padding;
}

@mixin padding-t {
    padding-top: $padding;
}

@mixin padding-b {
    padding-bottom: $padding;
}

@mixin padding-x {
    @include padding-l;
    @include padding-r;
}

@mixin padding-y {
    @include padding-t;
    @include padding-b;
}

@mixin padding {
    @include padding-x;
    @include padding-y;
}


/*
large margins/padding
*/

@mixin margin-l-lg {
    margin-left: $margin*2;
}

@mixin margin-r-lg {
    margin-right: $margin*2;
}

@mixin margin-t-lg {
    margin-top: $margin*2;
}

@mixin margin-b-lg {
    margin-bottom: $margin*2;
}

@mixin margin-x-lg {
    @include margin-l-lg;
    @include margin-r-lg;
}

@mixin margin-y-lg {
    @include margin-t-lg;
    @include margin-b-lg;
}

@mixin margin-lg {
    @include margin-x-lg;
    @include margin-y-lg;
}

@mixin padding-l-lg {
    padding-left: $padding*2;
}

@mixin padding-r-lg {
    padding-right: $padding*2;
}

@mixin padding-t-lg {
    padding-top: $padding*2;
}

@mixin padding-b-lg {
    padding-bottom: $padding*2;
}

@mixin padding-x-lg {
    @include padding-l-lg;
    @include padding-r-lg;
}

@mixin padding-y-lg {
    @include padding-t-lg;
    @include padding-b-lg;
}

@mixin padding-lg {
    @include padding-x-lg;
    @include padding-y-lg;
}


/*
small margins/padding
*/

@mixin margin-l-sm {
    margin-left: $margin/2;
}

@mixin margin-r-sm {
    margin-right: $margin/2;
}

@mixin margin-t-sm {
    margin-top: $margin/2;
}

@mixin margin-b-sm {
    margin-bottom: $margin/2;
}

@mixin margin-x-sm {
    @include margin-l-sm;
    @include margin-r-sm;
}

@mixin margin-y-sm {
    @include margin-t-sm;
    @include margin-b-sm;
}

@mixin margin-sm {
    @include margin-x-sm;
    @include margin-y-sm;
}

@mixin padding-l-sm {
    padding-left: $padding/2;
}

@mixin padding-r-sm {
    padding-right: $padding/2;
}

@mixin padding-t-sm {
    padding-top: $padding/2;
}

@mixin padding-b-sm {
    padding-bottom: $padding/2;
}

@mixin padding-x-sm {
    @include padding-l-sm;
    @include padding-r-sm;
}

@mixin padding-y-sm {
    @include padding-t-sm;
    @include padding-b-sm;
}

@mixin padding-sm {
    @include padding-x-sm;
    @include padding-y-sm;
}


/*
font sizes
*/

@mixin font-size-xs {
    font-size: $font-size/$font-scaler/$font-scaler;
}

@mixin font-size-sm {
    font-size: $font-size/$font-scaler;
}

@mixin font-size-md {
    font-size: $font-size;
}

@mixin font-size-lg {
    font-size: $font-size*$font-scaler;
}

@mixin font-size-xl {
    font-size: $font-size*$font-scaler*$font-scaler;
}

@mixin font-size-smaller {
    font-size: 100%/$font-scaler;
}

@mixin font-size-larger {
    font-size: 100%*$font-scaler;
}

@mixin font-size-xsmaller {
    font-size: 100%/$font-scaler/$font-scaler;
}

@mixin font-size-xlarger {
    font-size: 100%*$font-scaler*$font-scaler;
}

@mixin font-size-h6 {
    font-size: 100%*$heading-scale;
}

@mixin font-size-h6 {
    font-size: 100%*$heading-scale;
}

@mixin font-size-h5 {
    font-size: 100%*$heading-scale*$heading-font-scaler;
}

@mixin font-size-h4 {
    font-size: 100%*$heading-scale*$heading-font-scaler*$heading-font-scaler;
}

@mixin font-size-h3 {
    font-size: 100%*$heading-scale*$heading-font-scaler*$heading-font-scaler*$heading-font-scaler;
}

@mixin font-size-h2 {
    font-size: 100%*$heading-scale*$heading-font-scaler*$heading-font-scaler*$heading-font-scaler*$heading-font-scaler;
}

@mixin font-size-h1 {
    font-size: 100%*$heading-scale*$heading-font-scaler*$heading-font-scaler*$heading-font-scaler*$heading-font-scaler*$heading-font-scaler;
}